<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_metatag %>

    <title><%= ENV['APP_CAPTION'] %></title>

    <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/css/jackbox.css">
    <link rel="stylesheet" href="/css/tachyons.min.css">
    <link rel="stylesheet" href="/css/sweetalert2.min.css">
    <!--
    <link rel="stylesheet" href="/css/jquery.contextMenu.min.css">
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/skin.css">
    -->
    <link rel="stylesheet" href="/css/selectr.min.css">
    <link rel="stylesheet" href="/css/multi.min.css">
    <%#= assets(:css) %>

    <%= content_for :late_head %>
  </head>
  <body class="site" data-utf-8-ensurer="О">
  <header>
    <% unless @no_menu %>
      <%= render_rmd_menu %>
    <% end %>
    <% unless @no_logout %>
      <a href="/logout" id="logout" class="f6 link dim br2 ph3 pv2 dib white bg-light-red" title="Logout">logout</a>
    <% end %>
    <div id="container" class="container ma2">
      <%= yield %>
    </div>
    <!--
    <script src="/js/lodash.js" type="text/javascript"></script>
    <script src="/js/ag-grid-enterprise.min.js" type="text/javascript"></script>
    <script src="/js/ag-enterprise-activation.js" type="text/javascript"></script>
    <script src="/js/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="/js/jquery.ui.position.min.js" type="text/javascript"></script>
    <script src="/js/jquery.contextMenu.min.js" type="text/javascript"></script>
    <script src="/js/Sortable.min.js" type="text/javascript"></script>
    <script src="/js/crossbeams-local-storage.js" type="text/javascript"></script>
    <script src="/js/crossbeams-utils.js?seq=5" type="text/javascript"></script>
    <script src="/js/crossbeams-layout.js?seq=6" type="text/javascript"></script>
    <script src="/js/crossbeams-grid-loader.js?seq=7" type="text/javascript"></script>
    <script src="/js/crossbeams-data-miner-params.js" type="text/javascript"></script>
    <script src="/js/crossbeams-menu-builder.js?seq=1" type="text/javascript"></script>
    <script src="/js/multi.min.js" type="text/javascript"></script>
    <script src="/js/a11y-dialog-cbeam.js" type="text/javascript"></script>
    -->
    <script src="/js/rmd_scan.js?seq=4" type="text/javascript"></script>
    <script src="/js/jackbox.min.js" type="text/javascript"></script>
    <script src="/js/sweetalert2.min.js" type="text/javascript"></script>
    <script src="/js/selectr.min.js" type="text/javascript"></script>
    <script>
      Jackbox.init();
      <% if flash[:notice] %>
        Jackbox.success('<%= flash[:notice].tr("'", "`") %>');
      <% end %>
      <% if flash[:error] %>
        Jackbox.error('<%= flash[:error].tr("'", "`") %>', { time: 20 });
      <% end %>

    </script>
    <%= content_for :late_javascript %>
  </body>
</html>
